<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <form action="/users/<%=user.displayname%>?_method=PUT" method="POST">
        <!-- Match model form-->
        <label for="username">Username:</label>
        <input type="text" name="username" value="<%=user.username%>" readonly>
        <label for="displayname">Display Name:</label>
        <input type="text" name="displayname" value="<%=user.displayname%>">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" value="<%=user.firstname%>">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" value="<%=user.lastname%>">
        <button type="submit">Submit</button>
    </form>

    <%- include ('../partials/footer') %>

</body>