<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <% if(isLoggedIn){ %>
                <main>
                    <div class="welcome">
                        <h1 class="page-heading">Welcome back <%= displayname %>!</h1>
                        <p class="page-sub-heading"><a class="new-link" href="/users/<%=displayname%>/edit">Edit My
                                Account</a></p>
                        <p>Want to add a new event? <a class="new-link" href="/events/new">Create one here!</a></p>
                        <div class="search-box">
                            <p>Search your saved events:</p>
                            <form action="/users" class="search-event-form">
                                <input type="text" name="name" placeholder="Event Name">
                                <button type="submit" class="search-event-btn">Search Saved Events</button>
                            </form>
                        </div>
                </main>

                <!-- conditional for showing saved events: -->
                <% if(event.some((event)=> event.likes.includes(currId)) || apiLikes.length > 0) { %>
                    <section class="upcoming-events-section">
                        <!-- this heading cant go below the forEach otherwise it repeats -->
                        <h3 class="page-sub-heading saved">Here are all the events you are interested in:</h3>
                        <div class="upcoming-events-grid-container saved">
                            <% event.forEach((event)=>{ %>
                                <% if(event.likes.includes(currId)) { %>
                                    <div class="upcoming-event-box">
                                        <div class="event-img-box">
                                            <% if(event.image){ %>
                                                <!-- if img data exists, show -->
                                                <a href="/events/<%=event._id%>">
                                                    <div class="event-img-bkg"
                                                        style="background-image: url(<%=event.image%>)"
                                                        aria-label="Picture of <%=event.name%>">
                                                    </div>
                                                </a>
                                                <% }else { %>
                                                    <!-- if no img, show placeholder -->
                                                    <a href="/events/<%=event._id%>">
                                                        <img class="event-img-placeholder" src="../../img/event-img.png"
                                                            alt="Calendar icon">
                                                    </a>
                                                    <% } %>
                                        </div>
                                        <ul class="event-info-box">
                                            <li>
                                                <h4>
                                                    <a href="/events/<%=event._id%>">
                                                        <%=event.name%>
                                                    </a>
                                                </h4>
                                            </li>
                                            <li>
                                                <%=event.date%>
                                            </li>
                                            <li>
                                                <%=event.description%>
                                            </li>
                                        </ul>
                                    </div>
                                    <% } %>
                                        <% }) %>
                                            <!-- saved API events -->
                                            <% let usedName=[] %>
                                                <% apiLikes.forEach((like)=>{ %>
                                                    <% if(!usedName.includes(like.name)) {%>
                                                        <% //console.log(`new item ${like.name}`) %>
                                                            <div class="upcoming-event-box">
                                                                <div class="event-img-box">
                                                                    <a href="/events/<%=like.id%>">
                                                                        <div class="event-img-bkg"
                                                                            style="background-image: url(<%=like.img%>)"
                                                                            aria-label="event image">
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <ul class="event-info-box">
                                                                    <li>
                                                                        <% if(typeof like.id !=="undefined" ) {%>
                                                                            <a href="/events/<%=like.id%>">
                                                                                <% if(typeof like.name !=="undefined" )
                                                                                    {%>
                                                                                    <%=like.name%>
                                                                                        <% } %>
                                                                            </a>
                                                                            <% } else {%>
                                                                                <a>
                                                                                    <% if(typeof like.name
                                                                                        !=="undefined" ) {%>
                                                                                        <%=like.name%>
                                                                                            <% } %>
                                                                                </a>
                                                                                <% } %>
                                                                    </li>
                                                                    <li>
                                                                        <% if(typeof like.date !=="undefined" ) {%>
                                                                            <%=like.date%>
                                                                                <% } %>
                                                                    </li>
                                                                    <li>
                                                                        <% if(typeof like.venue !=="undefined" ) { %>
                                                                            <%=like.venue%>
                                                                                <% } %>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <% if(typeof like.name !=="undefined" )
                                                                {usedName.push(like.name)} %>
                                                                <% } %>
                                                                    <% }) %>
                        </div>
                    </section>
                    <% }else { %>
                        <!-- conditional for if no saved events show: -->
                        <div class="no-saved-events-box">
                            <h2 class="page-sub-heading">Looks like you
                                don't have any events saved yet!</h2>
                            <p><a class="new-link" href="/events">Find an
                                    event here</a> and add it to your saved!
                            </p>
                        </div>
                        <% } %>
                            <% } else { %>
                                <a class="new-link" href="/users/login">Please log in</a>
                                <% } %>
    </body>
    <%- include ('../partials/footer') %>

</html>