<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <h1>Welcome to Event Palooza!</h1>
    <% if(event.length===0) {%>
        <h2>There are no events yet!</h2>
        <a href="/events/new">Create one now!</a>
        <% } else { %>
            <form class="event-search-form-container" method="POST">
                <!-- container for user to search for events -->
                <!-- When (date) -->
                <div class="event-search-form-div">
                    <label class="event-search label" for="date">When</label>
                    <input id="event-date-range" class="event-search input" type="text" name="date"
                        placeholder="3/15/22">
                </div>
                <!-- What (event type dropdown menu) -->
                <div class="event-search-form-div">
                    <label class="event-search label" for="tag">Tag</label>
                    <!-- insert bootstrap code for dropdown menu -->
                    <input class="event-search input" type="text" name="tag">
                </div>
                <div class="event-search-form-div">
                    <label class="event-search label" for="name">Name</label>
                    <input class="event-search input" type="text" name="name">
                </div>
                <!-- Find events (button - add event listener) -->
                <div class="event-search-form-div">
                    <button type="submit">Find Events</button>
                </div>
            </form>
            <!-- below shows all upcoming events -->
            <div class="upcoming-events-container">
                <h2>Upcoming Events</h2>
                <% event.forEach((event)=>{ %>
                    <% if(true){ %>
                        <div class="upcoming-event-box">
                            <img src="/public/img/#" alt="Photo of <%=event.name%>" class="event-img">
                            <ul class="event-info-box">
                                <li>
                                    <a href="/events/<%=event._id%>">
                                        <%=event.name%>
                                    </a>
                                </li>
                                <li>
                                    <%=event.date%>
                                </li>
                                <li>
                                    <%=event.description%>
                                </li>
                            </ul>
                        </div>
                        <% } %>
                            <% }) %>
            </div>
            <% } %>
</body>

</html>