<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <h1>Welcome to Event Palooza!</h1>
    <form action="/events/search" class="event-search-form-container" method="GET">
        <!-- container for user to search for events -->
        <!-- When (date) -->
        <div class="event-search-form-div">
            <label class="event-search label" for="date">When</label>
            <p>(Date picker here)</p>
        </div>
        <!-- What (event type dropdown menu) -->
        <div class="event-search-form-div">
            <label for="dropdown-event-tag">What</label>
            <div class="dropdown">
                <select name="tag" id="dropdown-event-tag">
                    <option value="">--All Events--</option>
                    <option value="Music">Music</option>
                    <option value="Arts & Culture">Arts & Culture</option>
                    <option value="Community Events">Community Events</option>
                    <option value="Outdoor Recreation">Outdoor Recreation</option>
                    <option value="Health/Fitness">Health/Fitness</option>
                </select>
            </div>
        </div>
        <div class="event-search-form-div">
            <label class="event-search label" for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="event-search-form-div">
            <button class="submit-btn" type="submit">Find Events</button>
        </div>
    </form>

    <div class="upcoming-events-container">
        <h2>Upcoming Events</h2>
        <% events.forEach((event)=>{ %>
            <% if(true){ %>
                <div class="upcoming-event-box">
                    <img src="/public/img/#" alt="Photo of <%=event.name%>" class="event-img">
                    <ul class="event-info-box">
                        <li>
                            <a href="/events/<%=event._id%>">
                                <%=event.name%>
                            </a>
                        </li>
                        <li>
                            <%=event.date%>
                        </li>
                        <li>
                            <%=event.description%>
                        </li>
                    </ul>
                </div>
                <% } %>
                    <% }) %>
    </div>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>