<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <h1>
        <%= event.name %>
    </h1>

    <h3>Created by: <a href="/users/<%= event.user._id %>">
            <%= event.user.username %>
        </a>
    </h3>
    <% let eventArray=["name","description","image","date","tag","location","organization"] %>
        <ul>
            <li>
                <%=event.name%>
            </li>
            <li>
                <%=event.description%>
            </li>

            <li><img src="<%=event.image%>"></li>
            <li>
                <%=event.date%>
            </li>
            <li>
                <%=event.tag%>
            </li>
            <li>
                <%=event.location%>
            </li>
            <li>
                <%=event.organization%>
            </li>
        </ul>
        <% if(event.likes.includes(currId)) { %>
            <form action="/events/<%= event._id %>/like?_method=PUT" method="POST">
                <button type="submit">YOU LIKE THIS EVENT!</button>
            </form>
            <% } else { %>
                <form action="/events/<%= event._id %>/like?_method=PUT" method="POST">
                    <button type="submit">Save this Event!</button>
                </form>
                <% } %>

                    <%if(currId.toString()==event.user._id) {%>
                        <button class="edit-btn"><a href="/events/<%=event._id%>/edit">Edit</a></button>

                        <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete <%= event.name %>?</button>
                        </form>

                        <%}%>
</body>

</html>