<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <h1><%= event.name %></h1>
    <h3>Created by: <a href="/users/<%= event.user._id %>">
            <%= event.user.username %>
        </a>
    </h3>
    <button class="likes-btn" id="<%=event._id%>">Save this Event!</button>
    <button class="edit-btn"><a href="/events/<%=event._id%>/edit">Edit</a></button>

    <form action="/events/<%= event._id %>?_method=DELETE" method="post">
        <button type="submit">Delete <%= event.name %>?</button>
    </form>
</body>
<script src="../../middleware/likeLogic.js"></script>
</html>